/* NavBar Start */
* {
  padding: 0;
  margin: 0;
}
.navBarContainer {
  background-color: #fff;
}
.navBarWrapper {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #fff;
  z-index: 1000;
  width: 93%;
  overflow: hidden;
}
.navBarItems {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.navBarItems li {
  margin-right: 20px;
}
.navBarItems li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.navBarItems li a span {
  display: inline-block;
  margin-right: 5px;
}
.navBarItems li a .navItemsIcon {
  display: inline-block;
  margin-top: 4px;
}

.navIconsWrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.navIconsWrapper button {
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
.navIconsWrapper span {
  font-size: 20px;
  font-weight: 600;
}

.navBarDownPart {
  position: relative;
  top: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: #fff;
  z-index: 5;
}
.menuBarWrapper {
  margin-right: 20px;
}
.menuBarWrapper button {
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  padding: 12px 55px;
  display: flex;
  align-items: center;
}
.menuBarWrapper button img {
  display: inline-block;
  margin-right: 20px;
}

.navBarInputWrapper input {
  padding: 14px;
  font-size: 18px;
  width: 42vw;
}
.navBarInputWrapper a {
  border: solid rgba(0,0,0,0.2) 1px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  padding: 14px 50px;
}
.navBarInputWrapper a span {
  display: inline-block;
  margin-right: 10px;
}
.navBarInputWrapper button {
  background-color: #000;
  color: #fff;
  padding: 14px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

/* NavBar Finish */

/* Header Slider Start */
.header {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  margin-bottom: 25px;
}
.headerTextContent, .headerImageContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.headerTextContent {
  display: flex;
  align-items: center;
  padding: 0 60px;
}
.headerTextContentWrapper {
  width: 500px;
}
.headerTextContentWrapper h3 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  color: #5E5E5E;
  font-weight: 300;
  margin-bottom: 10px;
}
.headerTextContentWrapper h1 {
  font-style: italic;
  font-size: 52px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.headerTextContentWrapper p {
  font-size: 16px;
  letter-spacing: 2px;
  color: #5E5E5E;
  margin-bottom: 20px;
}
.headerTextContentWrapper a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.headerTextContentWrapper hr {
  width: 75px;
  margin-top: 10px;
  height: 3px;
  background-color: #000;
}
.headerImageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgCircle {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgImage {
  background-image: url(./imgs/home_03_slide_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 400px;
  height: 400px;
}
.headerTextContentBtnBox {
  position: absolute;
  bottom: -50px;
  left: 49%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerTextContentBtnBox button {
  padding: 5px;
  border-radius: 50%;
  border: solid 1px #5E5E5E;
  cursor: pointer;
}
.headerTextContentBtnBox button:nth-child(1) {
  background-color: #000;
}
/* Header Slider Finish */

/* Under header part start */
.partWrapper {
  width: 95%;
  padding: 15px 60px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.leftPart, .rightPart {
  width: 47%;
  background-color: #f8f8f8;
  padding: 15px 15px 0 15px;
}
.leftPartTextWrapper h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.leftPartTextWrapper p {
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #5E5E5E;
}
.leftPartTextWrapper hr {
  width: 50px;
  height: 2px;
  background-color: #000;
  margin-top: 10px;
}
.leftPartImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftPartImage {
  width: 90%;
  text-align: center;
  height: 200px;
  background-image: url(./imgs/443.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rightPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightPartImage {
  width: 60%;
  height: 285px;
}
.rightPartImage {
  background-image: url(./imgs/444.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.rightPartTextWrapper {
  width: 40%;
  margin-top: 115px;
}
.rightPartTextWrapper h2 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.rightPartTextWrapper p {
  color: #5E5E5E;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}
.rightPartTextWrapper hr {
  width: 50px;
  height: 2px;
  background-color: #000;
}
/* Under header part finish */

/* Featured produsct part start */
.featuredPartWrapper h1 {
  text-align: center;
  margin-bottom: 50px;
}
.featuredPartWrapper {
  margin-bottom: 50px;
  padding: 15px 60px;
}
.featuredMainPart > div, .featuredMainPart2 > div {
    background-color: #f8f8f8;
}
.featuredMainPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featuredMainPart2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 25px;
}
.sale {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
}
.VRglassesPrice {
  padding: 20px;
}
.VRglassesPrice p {
  color: #5E5E5E;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.VRglassesPrice span:nth-child(2) {
  display: inline-block;
  margin-right: 10px;
  color: #5E5E5E;
  text-decoration: line-through;
}
.VRglassesPrice span:nth-child(3) {
  font-weight: 700;
}
.vrtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid red 1px;
}
/* Featured produsct part end */




