/* NavBar Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
.navBarContainer {
  background-color: #fff;
}
.navBarWrapper {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #fff;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
}
.navBarWrapper div a img {
  height: 60px;
  width: 200px;
}
.navBarItems {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.navBarItems li {
  margin-right: 20px;
}
.navBarItems li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.navBarItems li a span {
  display: inline-block;
  margin-right: 5px;
}
.navBarItems li a .navItemsIcon {
  display: inline-block;
  margin-top: 4px;
}

.navIconsWrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.navIconsWrapper button {
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}
.navIconsWrapper button:hover {
  opacity: 0.4;
}
.navIconsWrapper span {
  font-size: 20px;
  font-weight: 600;
}

.navBarDownPart {
  position: relative;
  top: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: #fff;
  z-index: 5;
}
.menuBarWrapper {
  margin-right: 20px;
}
.menuBarWrapper button {
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  padding: 12px 55px;
  display: flex;
  align-items: center;
  position: relative;
}
.menuBarWrapper button img {
  display: inline-block;
  margin-right: 20px;
}

.navBarInputWrapper input {
  padding: 14px;
  font-size: 18px;
  width: 42vw;
}
.navBarInputWrapper a {
  border: solid rgba(0,0,0,0.2) 1px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  padding: 14px 50px;
}
.navBarInputWrapper a span {
  display: inline-block;
  margin-right: 10px;
}
.navBarInputWrapper button {
  background-color: #000;
  color: #fff;
  padding: 14px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

/* NavBar Finish */

/* Header Slider Start */
.header {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  margin-bottom: 25px;
}
.headerTextContent, .headerImageContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.headerTextContent {
  display: flex;
  align-items: center;
  padding: 0 60px;
}
.headerTextContentWrapper {
  width: 500px;
}
.headerTextContentWrapper h3 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  color: #5E5E5E;
  font-weight: 300;
  margin-bottom: 10px;
}
.headerTextContentWrapper h1 {
  font-style: italic;
  font-size: 52px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.headerTextContentWrapper p {
  font-size: 16px;
  letter-spacing: 2px;
  color: #5E5E5E;
  margin-bottom: 20px;
}
.headerTextContentWrapper a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.headerTextContentWrapper hr {
  width: 75px;
  margin-top: 10px;
  height: 3px;
  background-color: #000;
}
.headerImageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgCircle {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgImage {
  background-image: url(./imgs/home_03_slide_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 400px;
  height: 400px;
}
.headerTextContentBtnBox {
  position: absolute;
  bottom: -50px;
  left: 49%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerTextContentBtnBox button {
  padding: 5px;
  border-radius: 50%;
  border: solid 1px #5E5E5E;
  cursor: pointer;
}
.headerTextContentBtnBox button:nth-child(1) {
  background-color: #000;
}
/* Header Slider Finish */

/* Under header part start */
/* Under header part start */
.partWrapper {
  width: 100vw;
  padding: 15px 60px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.leftPart, .rightPart {
  width: 47%;
  background-color: #f8f8f8;
  padding: 15px 15px 0 15px;
}
.leftPartTextWrapper h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.leftPartTextWrapper p {
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #5E5E5E;
}
.leftPartTextWrapper hr {
  width: 50px;
  height: 2px;
  background-color: #000;
  margin-top: 10px;
}
.leftPartImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftPartImage {
  width: 100%;
  text-align: center;
  height: 200px;
  background-image: url(./imgs/443.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rightPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightPartImage {
  width: 60%;
  height: 285px;
}
.rightPartImage {
  background-image: url(./imgs/444.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.rightPartTextWrapper {
  width: 40%;
  margin-top: 115px;
}
.rightPartTextWrapper h2 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.rightPartTextWrapper p {
  color: #5E5E5E;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}
.rightPartTextWrapper hr {
  width: 50px;
  height: 2px;
  background-color: #000;
}
/* Under header part finish */

/* Featured produsct part start */
.featuredPartWrapper h1 {
  text-align: center;
  margin-bottom: 50px;
}
.featuredPartWrapper {
  padding: 15px 60px;
  width: 100vw;
}
.featuredBox {
  display: flex;
  justify-content: space-between;
}
.VRglasses {
  background-color: #f8f8f8;
  padding: 20px;
  margin-right: 20px;
}
.VRglasses img {
  height: 749px;
}
.featuredBoxRight {
  width: 100vw;
}
.featuredBoxRighttop, .featuredBoxRightBottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.featuredBoxRighttop > .keyboard, .speaker,
.featuredBoxRightBottom > .headphone, .ultraLense {
  background-color: #f8f8f8;
  width: 315px;
  padding: 15px;
  height: 100%;
}
.keyboard, .headphone {
  margin-right: 10px;
}
.featuredBoxRighttop div img,
.featuredBoxRightBottom div img {
  width: 285px;
}
.speaker {
  height: 100%;
}
.keyboardImage, .speakerImage, .headphoneImage, .ultraLenseImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
}
.VRglassesPrice {
  padding: 20px;
}
.VRglassesPrice p {
  color: #5E5E5E;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.VRglassesPrice span:nth-child(3), .price span:nth-child(2), .price span:nth-child(3), .price2 span {
  font-weight: 700;
}
.VRglassesPrice span:nth-child(2), .keySale {
  display: inline-block;
  margin-right: 10px;
  color: #5E5E5E;
  text-decoration: line-through;
  font-weight: 400!important;
}
.price, .price2 {
  padding: 5px;
}
.price p, .price2 p {
  color: #5E5E5E;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.speakerPrice {
  margin-top: 31px;
}
.featuredMainPart2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.box2 {
  background-color: #f8f8f8;
  width: 300px;
  padding: 10px;
}
.box2 img {
  width: 250px;
}
/* Featured produsct part end */

/* Start signUp part */
.signUpWrapper {
  width: 100vw;
  background-color: #f8f8f8;
  padding: 100px;
  margin-bottom: 50px;
}
.signUpWrapper h2 {
  text-align: center;
  font-size: 52px;
  font-style: italic;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.signUpWrapper p {
  text-align: center;
  margin-bottom: 20px;
  color: #5E5E5E;
  letter-spacing: 1px;
}
.signUpWrapperInputBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUpWrapperInputBox input {
  padding: 15px;
  width: 600px;
  font-size: 18px;
}
.signUpWrapperInputBox button {
  background-color: #000;
  border: none;
  outline: none;
  padding: 18px 35px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
/* Finish signUp part */

/* Start Inspirational post part */
.inspirationalWrapper {
  padding: 15px 60px;
  width: 100vw;
  margin-bottom: 100px;
}
.inspirationalWrapper>h2 {
  text-align: center;
  margin-bottom: 20px;
}
.inspirationalBox ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.inspirationalBox ul li {
  width: 32%;
}
.inspirationalImg {
  position: relative;
  margin-bottom: 25px;
}
.inspirationalImg img {
  width: 100%;
}
.inspirationalMark {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px 22px;
  bottom: 7%;
  left: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inspirationalMark span:nth-child(1) {
  display: block;
}
.inspirationalMark span:nth-child(2) {
  font-weight: 700;
}
.inspirationalList p {
  color: #5E5E5E;
  font-size: 16px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.inspirationalList h3 {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 2px;
}
/* Finish Inspirational post part */

/*PreLast part start*/
.preLastPartWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.preLastPartWrapper>img {
  width: 13%;  
}
.preLastPartInsta {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  border: solid 1px #fff;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.preLastPartInsta a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  letter-spacing: 1.5px;
  width: 100%;
  height: 100%;
  padding: 15px 40px;
}
.preLastPartInsta img {
  height: 20px;
  width: 20px;
}
/*PreLast part finish*/

/*Footer start*/
.footer {
  padding: 80px 60px 25px 60px;
  background-color: #000;
  width: 101vw;
}
.footerTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footerList h2 {
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.footerList hr {
  width: 70px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 25px;
}
.footerLogo a img {
  width: 300px;
}
.footerLogo span {
  display: inline-block;
  margin-left: 10px;
}
.footerLogo a, .footerList a {
  text-decoration: none;
  color: #5E5E5E;
  display: inline-block;
  margin-bottom: 20px;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}
.footerLogo a:hover, .footerList a:hover {
  color: #fff;
}
.topBottomBorder {
  width: 100%;
  height: 3px;
  background-color: #5E5E5E;
}

.footerDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 0 0;
}
.footerDown ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerDown ul li a {
  color: #5E5E5E;
  transition: color 0.3s ease-in-out;
}
.footerDown ul li a:hover {
  color: #fff;
}
.copyright {
  display: flex;
  align-items: center;
}
.copyright h4:nth-child(1) {
  color: #5E5E5E;
  margin-right: 5px;
}
.copyright h4:nth-child(2) {
  color: #fff;
}
.footerDown >ul:nth-child(2) {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerDown >ul:nth-child(2) li a {
  font-size: 24px;
}
.footerDown >ul:nth-child(3) {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerDown >ul:nth-child(3) li a {
  font-size: 72px;
}
/*Footer finish*/

/*Categories DropDown Menu Start*/
.menuBarWrapper .categoriesDropDown {
  position: absolute;
  top: 70px;
  left: 4.2%;
}
.categoriesDropDown >li a {
  display: inline-block;
  padding: 15px 15px;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  width: 290px;
  background-color: #fff;
}
.categoriesDropDown li a  {
  text-decoration: none;
  color: #5e5e5e;
  transition: background-color, 0.1s ease-in-out;
}
.categoriesDropDown li a:hover {
  background-color: #c0bcbc;
}
.categoriesDropDown li a span {
  display: inline-block;
  margin-left: 5px;
}
.electronics {
  position: relative;
  transition: transform 0.2s ease-in-out;
}
.electronics:hover .faCaretRight {
  transform: rotate(90deg);
}
.faCaretRight {
  margin-left: 50%;
}
.electronics ul {
  position: absolute;
  top: 0;
  right: -67%;
}
.electronics ul li a {
  width: 200px;
}
/*Categories DropDown Menu Finish*/
